<?xml version="1.0" encoding="utf-8"?>
<config>
	<device_id>100015</device_id>
	<sdi></sdi>
	<rs485>
		<protocol>modbus_ascii_type_1</protocol>
	</rs485>
	<sms>
		<p_n_1>30004505003188</p_n_1>
		<p_n_2>30003337100900</p_n_2>
		<interval>180</interval>
	</sms>
	<gprs>
		<interval>10</interval>
		<url>http://172.100.5.80:65350</url>
	</gprs>
	<encryption>
		<key>00112233445566778899aabbccddeeff</key>
	</encryption>
	<s>
		<pt>
			<s_i_s>true</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<s_o>1</s_o>
			<u>C</u>
			<a></a>
			<b></b>
		</pt>
		<a1>
			<s_i_s>true</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<s_o>2</s_o>
			<u>V</u>
			<a></a>
			<b></b>
			<low></low>
			<high></high>
		</a1>
		<a2>
			<s_i_s>true</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<s_o>3</s_o>
			<u>V</u>
			<a></a>
			<b></b>
			<low></low>
			<high></high>
		</a2>
		<a3>
			<s_i_s>true</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<s_o>4</s_o>
			<u>V</u>
			<a></a>
			<b></b>
			<low></low>
			<high></high>
		</a3>
		<a4>
			<s_i_s>true</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<s_o>5</s_o>
			<u>V</u>
			<a></a>
			<b></b>
			<low></low>
			<high></high>
		</a4>
		<c1>
			<s_i_s>true</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<s_o>6</s_o>
			<u>mA</u>
			<a></a>
			<b></b>
		</c1>
		<c2>
			<s_i_s>true</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<s_o>7</s_o>
			<u>mA</u>
			<a></a>
			<b></b>
		</c2>
		<ra>
			<s_i_s>true</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<s_o>8</s_o>
			<u>mm</u>
			<a></a>
			<b></b>
		</ra>
		<ra_1>
			<s_i_s>true</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<s_o>9</s_o>
			<low></low>
			<high></high>
		</ra_1>
		<ra_12>
			<s_i_s>false</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<low></low>
			<high></high>
		</ra_12>
		<rs_pc>
			<s_i_s>true</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<s_o>10</s_o>
			<u>mA</u>
			<a></a>
			<b></b>
		</rs_pc>
		<rs_ec>
			<s_i_s>false</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<u></u>
			<a></a>
			<b></b>
		</rs_ec>
		<rs_tp>
			<s_i_s>false</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<u>C</u>
			<a></a>
			<b></b>
		</rs_tp>
		<s0>
			<s_i_s>true</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<s_o>11</s_o>
			<u></u>
			<a></a>
			<b></b>
		</s0>
		<s1>
			<s_i_s>true</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<s_o>12</s_o>
			<u></u>
			<a></a>
			<b></b>
		</s1>
		<s2>
			<s_i_s>false</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<u></u>
			<a></a>
			<b></b>
		</s2>
		<s3>
			<s_i_s>true</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<s_o>13</s_o>
			<u></u>
			<a></a>
			<b></b>
		</s3>
		<s4>
			<s_i_s>false</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<u></u>
			<a></a>
			<b></b>
		</s4>
		<s5>
			<s_i_s>false</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<u></u>
			<a></a>
			<b></b>
		</s5>
		<s6>
			<s_i_s>true</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<s_o>14</s_o>
			<u></u>
			<a></a>
			<b></b>
		</s6>
		<s7>
			<s_i_s>false</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<u></u>
			<a></a>
			<b></b>
		</s7>
		<s8>
			<s_i_s>false</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<u></u>
			<a></a>
			<b></b>
		</s8>
		<s9>
			<s_i_s>false</s_i_s>
			<s_r_i_s>false</s_r_i_s>
			<u></u>
			<a></a>
			<b></b>
		</s9>
		<bat>
			<s_i_s>false</s_i_s>
			<s_r_i_s>false</s_r_i_s>
		</bat>
	</s>
</config>
